<ng-container
  *ngIf="{ data: arcDataLabels$ | async, error: error$ | async, chartOptions: arcCharts$ | async } as arcData">
  <div *ngIf="arcData.data && !arcData.error; else loading">
    <div *ngFor="let data of arcData.data">
      <h2>{{ data.xLabel }}</h2>
      <app-arc-data-scatter-chart [data]="data"></app-arc-data-scatter-chart>
    </div>
    <app-arc-scrap-wrapper
      *ngIf="arcData$ | async as data"
      [data]="data"
      [isAverege]="!!arcData.chartOptions?.averageScrap"
      [isScatter]="!!arcData.chartOptions?.scatterScrap">
    </app-arc-scrap-wrapper>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
  <div *ngIf="arcData.error as error">Error: {{ error }}</div>
</ng-container>
