<ng-container *ngIf="{ data: arcDataLabelss$ | async, error: error$ | async } as arcData">
  <div *ngIf="arcData.data && !arcData.error; else loading">
    <div *ngFor="let item of arcData.data">
      <h2>{{ item.xLabel }}</h2>
      <!-- <app-arc-data-line-chart [data]="item.x" [labels]="item.y" [title]="item.xLabel || ''"></app-arc-data-line-chart> -->
      <app-arc-data-scatter-chart [data]="item"></app-arc-data-scatter-chart>
    </div>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
  <div *ngIf="arcData.error as error">Error: {{ error }}</div>
</ng-container>
