<section [formGroup]="options.controls['dependents']">
  <h3>Select X:</h3>
  <p><mat-checkbox formControlName="oxygenPerTon">Oxygen</mat-checkbox></p>
  <p><mat-checkbox formControlName="kwhPerTon">kwh</mat-checkbox></p>
  <p><mat-checkbox formControlName="powerOnTime">Power</mat-checkbox></p>
</section>

<section [formGroup]="options.controls['specifying']">
  <h3>Select Y:</h3>
  <p><mat-checkbox formControlName="Anthracite">Anthracite</mat-checkbox></p>
  <p><mat-checkbox formControlName="scrap">Scrap</mat-checkbox></p>
</section>

<section [formGroup]="options.controls['options']">
  <h3>Scrap options:</h3>
  <mat-slide-toggle formControlName="averageScrap">Average scrap</mat-slide-toggle>
  <mat-slide-toggle formControlName="scatterScrap">Points scrap</mat-slide-toggle>
</section>
